@import '../../default-styles/colours.scss';

.mobile-buttons {
	width: 100%;
	position: absolute;
	color: $info-bar-text-colour;
	text-align: center;

	button {
		font-size: 0.5em;
	}

	button:hover {
		background-color: #008CBA;
		color: white;
	}

	.left-button {
		margin-right: 0.5em;
	}

	.button-row {
		margin-bottom: 0.5em;
	}
}